*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
}
#score {
    color: white;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    font-size: 5vmin;
    text-align: left;
}

#game-area {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    font-size: 7.5vmin;
}

 

.text-center {
    text-align: center;
  }

body {
    background-color: #333;
    height: 100vh;
    margin: 0;
}

#game-board {
    display: grid;
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    background-color: #ccc;
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    position: relative;
}
@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: true;
  }
  div {
    transition: --num 1s;
    counter-reset: num var(--num);
  }


.cell {
    background-color: #aaa;
    border-radius: 1vmin;
}


.tile {
    /* --x:0;
    --y:0;
    --background-lightness: 100%;
    --text-lightness: 20%; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    top: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-weight: bold;
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}

.reset-btn{
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    margin: -12px;
    margin-right: -105px;
    position:absolute;
    top: 28px;
    right: 38%;
    /* width: 33px; */
    height: 28px;
    border-radius: 20%;
    border-color: rgb(137, 128, 103);
    font-size: 1.2rem;
    background-color: antiquewhite;


    font-size: 5vmin;
    text-align: right;
}
.reset-btn:hover{
    background-color:  rgb(196, 104, 76);
}
.reset-img{
    width: 20px;
    height: 20px;;
}
